.App {
    min-width: 100vw;
    min-height: 100vh;
    text-align: center;
   
  }
  
  .providers {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    gap: 1em;
    padding: 0.6em 1.2em;
    height: 100vh;
    background-color: #5c5470;
    color: #efefef;
  }
  
  .providers button {
    width: 12em;
    border-radius: .5em;
    border: 1px solid #999;
    padding: 1em;
    margin: .5em;
  }
  
  .providers button img {
    width: 2em;
  }
  .mmError {
    height: 36px;
    padding: 16px;
    color: #efefef;
    background-color: transparent;
  }

